.section--pillars {

  .left {
    @media (min-width: 890px) {
      flex: 0 1 30%;
    }
  }

  .right {
    @media (min-width: 890px) {
      flex: 0 1 65%;
    }
  }

  .button {
    color: var(--tomato);

    &:after {
      background-color: var(--tomato);
    }
  }

  .button--medium {
    margin-top: 16px;

    @media (min-width: 890px) {
      font-size: 16px;
    }
  }
}
