.section--pillars {
  .section__title {
    font-family: var(--scopeOne);
    font-size: 45px;
    line-height: var(--headerLineHeightPrimary);
    padding: 0;
    border-bottom: var(--border-thin-black);
    padding-bottom: 18px;

    @media (min-width: 890px) {
      font-size: 45px;
      line-height: 54px;
    }
  }

  .section__description {
    font-family: var(--visueltRegular);
    font-size: 14px;
    line-height: 22px;

    @media (min-width: 890px) {
      font-size: 19px;
      line-height: 26px;
    }
  }

  .left {
    @media (min-width: 890px) {
      flex: 0 1 30%;
    }
  }

  .right {
    @media (min-width: 890px) {
      flex: 0 1 65%;
    }
  }

  .button {
    color: var(--tomato);

    &:after {
      background-color: var(--tomato);
    }
  }

  .button--medium {
    margin-top: 16px;

    @media (min-width: 890px) {
      font-size: 16px;
    }
  }
}
