.section--pillars {
  .section--pillars__title {
    font-family: var(--scopeOne);
    font-size: 45px;
    line-height: var(--headerLineHeightPrimary);
    padding: 0;
    margin-bottom: var(--spacing-s);
    border-bottom: var(--border-thick-black);
    padding-bottom: 18px;

    @media (min-width: 890px) {
      font-size: 45px;
      line-height: 54px;
      margin-bottom: 128px;
    }
  }

  .left {
    @media (min-width: 890px) {
      flex: 0 1 30%;
    }
  }

  .right {
    @media (min-width: 890px) {
      flex: 0 1 65%;
    }
  }

  .button--medium {
    @media (min-width: 890px) {
      margin-top: 0;
      font-size: 16px;
    }
  }
}
