.single-resource__container {
  width: 100%;
  padding: 16px;

  h4 {
    font-size: 28px;
    margin: 32px 0px 64px 0px;
  }

  .social-media-bar ul {
    list-style: none;
    margin: 32px;
  }

  @media only screen and (max-width: 889px) {
    padding: var(--contentPadding-s);
  }
}

.single-resource__videos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 16px;
  margin-bottom: 16px;
}

.single-resource__video {
  margin: 16px;
}

.single-resource__artwork,
.single-resource__classroom-photos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.single-resource__artwork-wrapper,
.single-resource__classroom-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  row-gap: 64px;
  width: 100%;
}

.single-resource__classroom-wrapper {
  grid-template-columns: 1fr 1fr;
}

.single-resource__artwork-container,
.single-resource__classroom-container {
  max-width: 200px;
  width: 100%;
  height: 100%;
}

.single-resource__classroom-container {
  max-width: unset;
}

.single-resource__artwork-img,
.single-resource__classroom-img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  box-shadow: 5px 0px 20px 0px #00000029;
}
