.single-resource__container {
  width: 100%;
  padding: 16px;

  h4 {
    font-size: 28px;
    margin: 32px 0px 64px 0px;
  }

  .social-media-bar ul {
    list-style: none;
    margin: 32px;
  }

  @media only screen and (max-width: 889px) {
    padding: var(--contentPadding-s);
  }
}

.single-resource__videos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
  margin-bottom: 16px;
}

.single-resource__video {
  margin: 16px;
}

.single-resource__artwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.single-resource__artwork-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 64px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  row-gap: 64px;
  width: 100%;
}

.single-resource__artwork-container {
  max-width: 200px;
  width: 100%;
  height: 100%;
  border: none;
}

.single-resource__artwork-img {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  box-shadow: 5px 0px 20px 0px #00000029;
  transition: var(--easeOut);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.025);
  }
}
