.news-article__container {
  width: 60%;
  margin: 54px 0 0 108px;
}

.news-article__text {
  margin-bottom: 28px;
}

.news-article__image {
  margin: 32px 0;
  background-size: cover;

  img {
    max-width: 100%;
    margin-bottom: 0;
  }

  div {
    font-family: var(--visueltRegular);
    color: #545454;
    margin-top: 18px;
    font-size: 14px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 889px) {
  .news-article__container {
    padding: 0 24px;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
  .news-article__text {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 18px;
  }
}
