/* -----------------------------------------------------------------------------
 *
 * Borders
 *
 * ----------------------------------------------------------------------------- */

:root {
  --border-thin-black: solid 1px var(--black);
  --border-thick-black: solid 2px var(--black);
  --border-thin-ocean: solid 1px var(--ocean);
}
