/* -----------------------------------------------------------------------------
 *
 * Colors
 *
 * ----------------------------------------------------------------------------- */

:root {
  --magenta: #cc4faa;
  --tomato: #ed5338;
  --aqua: #a3dad6;
  --ocean: #0088ce;
  --sunflower: #ffce34;
  --geo: #00b18f;
  --black: #000000;
  --white: #ffffff;
  --cloud: #e4e1dc;

  --grey-10: #2b2b2b;
}
