/* -----------------------------------------------------------------------------
 *
 * Spacers
 *
 * ----------------------------------------------------------------------------- */
:root {
  //padding
  --contentPaddingPrimary: 48px 96px;
  --contentContainerPadding: 100px 84px;

  //margin
  --sectionSpacingPrimary: 144px;
  --sectionSpacingSecondary: 140px;
  --footerContactMargin: 160px;
}
