.programs.footer-contact {
  margin-top: 0;
}

.news.footer-contact {
  margin-top: 160px;
}

.footer-contact {
  color: var(--black);
  margin-top: var(--footerContactMargin);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;

  &.magenta {
    color: var(--white);
  }

  &:not(.magenta) {
    margin-top: 120px;
    padding-top: 80px;
    border-top: 1px solid var(--black);

    .footer-contact__container {
      padding: 0;
    }

    .contact-form {
      justify-content: center;
    }
  }
}

.footer-contact__container {
  padding: 84px;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width-calc);
}

.footer-contact__content {
  width: 50%;
  font-size: var(--headerFontSizeSecondary);
  font-family: var(--visueltBold);
  line-height: var(--headerLineHeightPrimary);
}

.contact-form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.contact-form__form {
  display: flex;
}

.contact-form__input {
  height: var(--formElementHeight);
  width: 350px;
  padding: var(--formElementPadding);
  font-size: 22px;
  font-family: var(--visueltRegular);
  color: var(--black);
  text-transform: lowercase;
  border: none;
  border-radius: 0;
}

.contact-form__button {
  margin-left: -1px;
  height: var(--formElementHeight);
  font-family: var(--ibmPlexMono);
  font-size: var(--mobileParagraphFontSize);
  text-transform: uppercase;
  background-color: var(--geo);
  padding: var(--formElementPadding);
  line-height: var(--buttonLineHeight);
  border: none;
  outline: inherit;
  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1080px) {
  .footer-contact__container {
    margin: 32px 0 40px 0;
    display: block;
  }

  .footer-contact__content {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
  }

  .contact-form {
    width: 100%;
    justify-content: flex-start;
  }

  .contact-form__container {
    height: 96px;
  }

  .contact-form__form {
    margin-top: 32px;
  }

  .contact-form__input {
    flex: 1 1 auto;
    width: 50%;
  }
}

@media only screen and (max-width: 889px) {
  .footer-contact {
    margin-top: var(--formElementHeight);
  }

  .footer-contact__container {
    padding: var(--spacing-s);
    padding-top: 32px;
  }
}
