.header-area {
  padding: var(--contentPaddingPrimary);
}

.news-archive .header-area {
  padding: 0;
}

.top {
  display: flex;
  border-top: var(--border-thin-black);
  border-bottom: var(--border-thin-black);
  padding: var(--spacing-s) 0 96px 0;
}

.news .top {
  margin: var(--spacing-s) 0;
}

.news-archive .top {
  border: none;
  padding: 0;
}

.top__title {
  font-family: var(--visueltBold);
  font-size: var(--headerFontSizePrimary);
  line-height: 1;
  color: var(--black);
}

.news-archive .top__title {
  font-size: 45px;
  line-height: var(--mobileSectionTitleLineHeight);
  margin-top: 30px;
}

.top__right-content {
  font-family: var(--scopeOne);
  font-size: var(--headerFontSizeTertiary);
  font-weight: 400;
  line-height: var(--headerLineHeightSecondary);
  color: var(--black);
  border-bottom: none;
  margin-bottom: 0;
}

.top__left {
  flex: 0 1 50%;
  padding-right: var(--spacing-s);
}

.news-archive .top__left {
  border-top: var(--border-thin-black);
}

.top__right {
  flex: 0 1 50%;
  padding-left: var(--spacing-s);
}

.bottom__label {
  display: inline-block;
  font-family: var(--ibmPlexMono);
  font-size: var(--linkFontSize);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--black);
}

.news .header-area .bottom {
  margin-top: 48px;
  display: flex;
}

@media only screen and (max-width: 889px) {
  .header-area {
    padding: 50px var(--spacing-s);
    padding-top: 0;
    background-color: transparent;
  }

  .top {
    border-top: var(--border-thick-black);
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }

  .news-archive .top {
    display: flex;
  }

  .top__right {
    padding-left: 0;
  }

  .top__title {
    font-size: var(--mobileTitleFontSize);
    line-height: var(--mobileHeaderLineHeightPrimary);
    margin-bottom: 8px;
  }

  .news-archive .top__title {
    margin-bottom: 0;
  }

  .top__right-content {
    font-size: var(--mobileFontSizeTertiary);
    line-height: var(--mobileHeaderLineHeightSecondary);
    margin-bottom: 8px;
  }

  .bottom {
    padding: var(--spacing-s);
    display: block;
  }

  .news .header-area .bottom {
    margin-top: 32px;
    padding: var(--spacing-s);
    display: block;
    background-color: var(--geo);
  }
}

@media only screen and (max-width: 600px) {
  .news-archive .header-area {
    padding: 32px 24px 50px 24px;
    background-color: var(--magenta);
    margin-bottom: 32px;
  }

  .news-archive .top {
    display: block;
    border-top: 2px solid var(--black);
  }

  .news-archive .top__title {
    font-size: 26px;
    line-height: 34px;
    margin-top: 18px;
    margin-bottom: 0px;
  }
  
  .news-archive .top__right {
    display: none;
  }
}
