.header-area {
  padding: var(--contentPaddingPrimary);
}
.news-archive .header-area,
.news-article .header-area,
.single-resource .header-area {
  padding: 0;
}

.top {
  display: flex;
  border-top: var(--border-thin-black);
  border-bottom: var(--border-thin-black);
  padding: var(--spacing-s) 0 96px 0;
}

.news .top {
  margin: var(--spacing-s) 0;
}

.news-archive .top {
  border: none;
  padding: 0;
}

.news-article .top,
.single-resource .top {
  border-top: none;
  border-bottom: none;
  padding: 0;
}

.top__title {
  font-family: var(--visueltBold);
  font-size: var(--headerFontSizePrimary);
  line-height: 1;
  color: var(--black);
}

.news-archive .top__title {
  font-size: 45px;
  line-height: var(--mobileSectionTitleLineHeight);
  margin-top: 30px;
}

.top__right-content {
  font-family: var(--scopeOne);
  font-size: var(--headerFontSizeTertiary);
  font-weight: 400;
  line-height: var(--headerLineHeightSecondary);
  color: var(--black);
  border-bottom: none;
  margin-bottom: 0;
}

.top__left {
  flex: 0 1 50%;
  padding-right: var(--spacing-s);
}

.news-archive .top__left {
  border-top: var(--border-thin-black);
}

.news-article .top__left,
.single-resource .top__left {
  border-top: var(--border-thin-black);
  margin-right: 48px;
  padding-right: 0;

  h1 {
    font-size: 45px;
    line-height: var(--mobileSectionTitleLineHeight);
    margin-top: 30px;
  }

  h6 {
    font-family: var(--visueltRegular);
    font-size: var(--paragraphFontSize);
    line-height: var(--paragraphLineHeight);
    margin-top: 12px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: normal;
    color: var(--black);
  }

  h4 {
    font-family: var(--scopeOne);
    font-size: var(--headerFontSizeTertiary);
    line-height: var(--headerLineHeightSecondary);
    margin-top: 148px;
    font-weight: normal;
    color: var(--black);
  }
}

.contact .top__left {
  flex: unset;
  width: 100%;
}

.top__right {
  flex: 0 1 50%;
  padding-left: var(--spacing-s);
}

.news-article .top__image-container,
.single-resource .top__image-container {
  position: relative;
  padding-top: 66%;

  .top__image {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.bottom__label {
  display: inline-block;
  font-family: var(--ibmPlexMono);
  font-size: var(--linkFontSize);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--black);
}

.news .header-area .bottom {
  margin-top: 48px;
  display: flex;
}

@media only screen and (max-width: 889px) {
  .header-area {
    padding: 50px var(--spacing-s);
    padding-top: 0;
    background-color: transparent;
  }

  .news-article .header-area,
  .single-resource .header-area {
    padding: 50px 24px;
    padding-top: 32px;
  }

  .top {
    border-top: var(--border-thick-black);
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }

  .news-archive .top {
    display: flex;
  }

  .news-article .top__left,
  .single-resource .top__left {
    font-size: var(--mobileTitleFontSize);
    line-height: 24px;
    margin-bottom: 8px;
    margin-right: 0;

    h1 {
      font-size: var(--mobileTitleFontSize);
      line-height: var(--mobileHeaderLineHeightPrimary);
      margin-top: var(--spacing-s);
    }

    h6 {
      font-size: var(--mobileParagraphFontSize);
      line-height: var(--mobileParagraphLineHeight);
    }

    .top__image {
      padding-top: 66%;
      background-size: cover;
      margin-top: 18px;
    }

    h4 {
      margin-top: var(--spacing-m);
      font-size: var(--mobileSectionSubTitleFontSize);
      line-height: var(--mobileSectionSubTitleLineHeight);
    }
  }

  .single-resource .top__left {
    h1 {
      margin-bottom: 36px;
    }
  }

  .top__right {
    padding-left: 0;
  }

  .top__title {
    font-size: var(--mobileTitleFontSize);
    line-height: var(--mobileHeaderLineHeightPrimary);
    margin-bottom: 8px;
  }

  .news-archive .top__title {
    margin-bottom: 0;
  }

  .top__right-content {
    font-size: var(--mobileFontSizeTertiary);
    line-height: var(--mobileHeaderLineHeightSecondary);
    margin-bottom: 8px;
  }

  .bottom {
    padding: var(--spacing-s);
    display: block;
  }

  .news .header-area .bottom {
    margin-top: 32px;
    padding: var(--spacing-s);
    display: block;
    background-color: var(--geo);
  }
}

@media only screen and (max-width: 600px) {
  .news-archive .header-area {
    padding: 32px 24px 50px 24px;
    background-color: var(--magenta);
    margin-bottom: 32px;
  }

  .news-archive .top {
    display: block;
    border-top: var(--border-thick-black);
  }

  .news-archive .top__title {
    font-size: var(--mobileTitleFontSize);
    line-height: var(--mobileHeaderLineHeightPrimary);
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .news-archive .top__right {
    display: none;
  }
}
