.header-area {
  padding: var(--contentPaddingPrimary);
}

.top {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 24px 0 96px 0;
}

.top__title {
  font-family: var(--visueltBold);
  font-size: var(--headerFontSizePrimary);
  line-height: 1;
  color: var(--black);
}

.top__right-content {
  font-family: var(--scopeOne);
  font-size: var(--headerFontSizeTertiary);
  font-weight: 400;
  line-height: var(--headerLineHeightSecondary);
  color: var(--black);
  border-bottom: none;
  margin-bottom: 0;
}

.top__left {
  flex: 0 1 50%;
  padding-right: 24px;
}

.top__right {
  flex: 0 1 50%;
  padding-left: 24px;
}

.bottom__label {
  display: inline-block;
  font-family: var(--ibmPlexMono);
  font-size: var(--linkFontSize);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--black);
}

.rich-text {
  font-family: var(--visueltRegular);
  font-size: var(--paragraphFontSize);
  line-height: var(--paragraphLineHeight);
  margin-bottom: 28px;
  color: var(--black);
}

// about page specific styles

.about .header-area {
  background-color: var(--magenta);
}

.about .header-area .top {
  margin: 24px 0;
}

.about .header-area .bottom {
  display: flex;
}

.about .header-area .bottom .bottom__left {
  flex: 0 1 50%;
  padding-right: 24px;
}

.about .header-area .bottom .bottom__right {
  flex: 0 1 50%;
  padding-left: 24px;
}

.about .header-area .bottom .bottom__right .image-container {
  position: relative;
  padding-top: 66%;
}

.about .header-area .bottom .bottom__right .image {
  background-image: url("../images/3.jpg");
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media only screen and (max-width: 889px) {
  .header-area {
    padding: 50px 24px;
    padding-top: 0;
    background-color: transparent;
  }

  .top {
    border-top: 2px solid var(--black);
    display: block;
    padding-bottom: 0;
    border-bottom: none;
  }

  .top__right {
    padding-left: 0;
  }

  .top__title {
    font-size: var(--mobileTitleFontSize);
    line-height: var(--mobileHeaderLineHeightPrimary);
    margin-bottom: 8px;
  }

  .top__right-content {
    font-size: var(--mobileFontSizeTertiary);
    line-height: var(--mobileLineHeightSecondary);
    margin-bottom: 8px;
  }

  .bottom {
    padding: 24px;
    display: block;
  }

  .rich-text {
    font-size: var(--mobileParagraphFontSize);
    line-height: var(--mobileParagraphLineHeight);
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 21px;
    }
  }

  // about page specific styles

  .about .header-area {
    background-color: transparent;
  }

  .about .header-area .bottom {
    display: block;
    background-color: var(--magenta);
  }

  .about .header-area .bottom .bottom__left {
    padding-right: 0px;
  }

  .about .header-area .bottom .bottom__right {
    padding-left: 0;
  }
}
