.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-container {
  max-width: var(--max-width-calc);
  padding: var(--contentContainerPadding);
  width: 100%;
}

.programs .content-container,
.news .content-container {
  padding-bottom: 0;
}

.news-archive .content-container {
  padding: 180px 84px 0;
  max-width: calc(1440px + 2 * 84px);
}

.magenta {
  background-color: var(--magenta);
}

.tomato {
  background-color: var(--tomato);
}

.aqua {
  background-color: var(--aqua);
}

.ocean {
  background-color: var(--ocean);
}

.sunflower {
  background-color: var(--sunflower);
}

.geo {
  background-color: var(--geo);
}

.black {
  background-color: var(--black);
}

.white {
  background-color: var(--white);
}

.cloud {
  background-color: var();
}

@media only screen and (max-width: 889px) {
  .content-container {
    padding: 0;
  }

  .news-archive .content-container {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .news-archive .content-container {
    padding: 0;
  }
}
