.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.programs .content-container {
  padding: 100px 84px 0;
}

.content-container {
  max-width: var(--max-width-calc);
  padding: var(--contentContainerPadding);
}

.magenta {
  background-color: var(--magenta);
}

.tomato {
  background-color: var(--tomato);
}

.aqua {
  background-color: var(--aqua);
}

.ocean {
  background-color: var(--ocean);
}

.sunflower {
  background-color: var(--sunflower);
}

.geo {
  background-color: var(--geo);
}

.black {
  background-color: var(--black);
}

.white {
  background-color: var(--white);
}

.cloud {
  background-color: var();
}

@media only screen and (max-width: 889px) {
  .content-container {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
