.news-item {
  position: relative;
  height: 100%;
  flex: 0 0 auto;
  padding: 21px;
  margin-right: 48px;
  width: 367px;
  transition: width 0.2s ease-in-out, transform 0.2s ease-out;
}

.news-item--hover {
  &:hover {
    width: 473px;

    .news-item__back-panel {
      transition: all 0.2s ease-out 0.1s;
      width: 452px;
      height: 317px;
      left: 0;
      top: 0;
    }

    .news-item__image-container {
      width: 452px;
      height: 317px;
    }

    time {
      margin-top: 28px;
      font-size: var(--paragraphFontSize);
    }

    h3 {
      font-size: var(--headerFontSizeSecondary);
      line-height: 42px;
      font-family: var(--visueltBold);
      margin-top: 14px;
    }
    
    .news-item__description-container {
      height: 100%;
      opacity: 1;
    }
  }
}

.news-item__back-panel {
  transition: all 0.2s ease-out;
  left: 21px;
  top: 21px;
  position: absolute;
  background-color: var(--ocean);
  width: 325px;
  height: 220px;
}

.news-item__link {
  text-decoration: none;
}

.news-item__image-container {
  transition: all 0.2s ease-out;
  position: relative;
  width: 325px;
  height: 220px;
}

.news-item__image {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.news-item time {
  transition: all 0.2s ease-out;
  margin: 0;
  margin-top: var(--spacing-s);
  font-family: var(--ibmPlexMono);
  font-size: 13px;
  color: var(--black);
  letter-spacing: normal;
  line-height: 1;
  display: block;
}

.news-item h3 {
  transition: all 0.2s ease-out;
  margin-top: 8px;
  font-family: var(--visueltRegular);
  font-size: var(--headerFontSizeTertiary);
  line-height: var(--paragraphLineHeight);
  border-bottom: none;
  margin-bottom: 0;
}

.news-item__description-container {
  width: 452px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
  position: relative;

  p {
    margin-top: 14px;
  }
}

.news-item__link-arrow {
  margin-top: 30px;
  width: 30px;
  position: relative;
  height: 20px;
  -webkit-mask: url("../images/nav-arrow.svg") no-repeat 50% 50%;
  mask: url("../images/nav-arrow.svg") no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--black);
}

@media only screen and (max-width: 889px) {
  .news-item {
    padding: 0;
    width: 80%;
    max-width: 325px;
  }

  .news-item__back-panel {
    display: none;
  }

  .news-item__image-container {
    width: 100%;
  }

  .news-item__description-container {
    height: auto;
    opacity: 1;
    width: 100%;

    p {
      margin: 0;
      font-size: var(--mobileSectionSubTitleFontSize);
      line-height: 1;
    }
  }

  .news-item__link-arrow {
    -webkit-mask: none;
    mask: none;
    background: none;
    width: 100%;

    &:before {
      content: "Learn More";
      font-family: var(--ibmPlexMono);
      font-size: var(--linkFontSize);
      line-height: var(--buttonLineHeight);
      text-decoration: underline;
    }
  }
}