.programming-card {
  max-width: 48%;
  margin-bottom: 56px;
}

.programming-card__title {
  font-size: var(--headerFontSizeSecondary);
  line-height: var(--headerLineHeightPrimary);
  margin-bottom: 12px;
  font-family: var(--visueltBold);
  color: var(--black);
}

.programming-card__summary {
  font-size: var(--paragraphFontSize);
  line-height: var(--paragraphLineHeight);
  margin-bottom: 21px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.programming-card__link {
  display: block;
  margin-top: 18px;
  font-size: var(--linkFontSize);
  font-family: var(--ibmPlexMono);
  color: var(--black);
  line-height: 1;
}

.programming-card__expand-button {
  margin-top: 18px;
  border: var(--border-thin-black);
  padding: 8px;
  width: 125px;
  font-family: var(--ibmPlexMono);
  font-size: var(--linkFontSize);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aqua);
  cursor: pointer;

  &:before {
    content: "Expand";
  }
}

.programming-card__expand-icon {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 5px;
    transform: rotate(90deg);
    transition: width 0.3s;
  }

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 5.5px;
  }
}

.is-open .programming-card__expand-button {
  &:before {
    content: "Collapse";
  }
}

.is-open .programming-card__expand-icon {
  transform: rotate(0deg);
  &:before {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 5px;
    transform: rotate(90deg);
  }

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 5.5px;
  }
}

.collapsible__outer {
  height: auto;
  transition: var(--maxHeightAnimation);
  overflow: hidden;
}

.collapsible__outer--collapsed {
  max-height: 0px;
  visibility: hidden;
}

.collapsible__outer--expanded {
  max-height: 2000px;
}

.collapsible__inner {
  padding-bottom: 48px;
  border-bottom: var(--border-thin-black);
}

.collapsible__nested-cards .programming-card {
  max-width: 100%;
  margin: 32px 0 0 48px;
}

.collapsible__nested-cards .programming-card__title {
  font-size: 23px;
}

@media only screen and (max-width: 889px) {
  .collapsible__nested-cards .programming-card__title {
    font-size: 24px;
  }

  .programming-card {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .programming-card__title {
    font-size: 24px;
    line-height: var(--headerLineHeightSecondary);
  }

  .programming-card__summary {
    font-size: var(--mobileParagraphFontSize);
    line-height: var(--mobileParagraphLineHeight);
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 21px;
    }
  }
}
