.resources-results {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 889px) {
    padding-left: var(--spacing-s);
    padding-right: var(--spacing-s);
  }
}

.resource {
  margin-top: calc(var(--spacing-s) * 1.5);
  background-color: var(--oyster);
  max-width: 1200px;
  min-width: 100%;
  padding: 16px;

  @media only screen and (max-width: 889px) {
    padding: var(--spacing-s);
  }
}

.resource__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 889px) {
    display: block;
    margin-left: 0;
  }
}

.resource__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;

  @media only screen and (max-width: 889px) {
    width: 100%;
    padding: 0;

    &:last-child {
      margin-top: 20px;
      padding: 16px;
    }
  }
}

.resource__col--left-justify {
  align-items: flex-start;

  @media only screen and (max-width: 889px) {
    align-items: center;
  }

  h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
  } 
}

.resource__featured-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 250px;
  max-width: 500px;
  max-height: 1000px;

  @media only screen and (max-width: 889px) {
    max-width: 75%;
  }

  @media only screen and (max-width: 689px) {
    max-width: 100%;
  }
}

.resource__rich-li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.8rem;
    width: 24px;
    height: 1px;
    background-color: var(--black);
  }
}

.resource__rich-img {
  margin: var(--spacing-s);

  @media only screen and (max-width: 889px) {
    max-width: 75%;
  }
}

.resource__rich-quote {
  margin: 50px 0 50px 72px;
  padding-left: 40px;
  border-left: 4px solid var(--sunflower);
  color: #545454;
  font-size: var(--mobileParagraphFontSize);
  line-height: var(--mobileSectionSubTitleLineHeight);
  font-family: var(--visueltRegular);

  p:last-of-type {
    margin-bottom: 0;
  }

  i,
  b {
    color: #545454;
  }
}

.resource__rich-text {
  margin-bottom: 28px;
}

.resource__meta-list {
  margin-bottom: 16px;
}

.resource__meta-item {
  font-family: var(--ibmPlexMono);
  font-size: 13px;
  letter-spacing: 0.96px;
  line-height: 1.31;
  text-transform: uppercase;
  color: var(--magenta);

  &:after {
    content: "\2022";
    margin-left: 6px;
    margin-right: 6px;
  }

  &:last-of-type:after {
    display: none;
  }
}

.resource__title {
  margin-bottom: 20px;
  font-size: var(--headerFontSizeTertiary);
}

.resource__col .button {
  background-color: var(--magenta);
  width: 100%;
  max-width: 200px;
  color: var(--white);
  transition: all 0.2s ease-out;

  &:after {
    background-color: var(--white);
  }

  &:hover,
  &:focus {
    transform: scale(1.025);
  }
}

.resource__downloads-title {
  margin-bottom: 16px;
  font-size: 13px;
  font-family: var(--ibmPlexMono);
  text-transform: uppercase;
  letter-spacing: 0.96px;
  line-height: 1.31;
  border: none;
}

.resource__files-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resource__files-list-item {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--black);

  &:last-child {
    border-bottom: 1px solid var(--black);
  }

  a {
    display: block;
    position: relative;
    padding: 10px 20px 10px 0;
    color: var(--magenta);
    text-decoration: none;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 13px;
      height: 17px;
      transform: translateY(-50%);
      background: url("../images/download-arrow.svg") no-repeat center center;
      background-size: contain;
      transition: all 0.3s;
    }

    &:hover:after {
      transform: translateY(-50%) scale(1.2);
    }
  }
}

@media only screen and (max-width: 375px) {
  .resource__rich-text {
    font-size: 15px;
    line-height: var(--mobileParagraphLineHeight);
    margin-bottom: 18px;
  }

  .resource__rich-quote {
    margin: 25px 0 25px 25px;
    padding-left: 20px;
  }
}
