.social-media-bar {
  margin: 0 0 54px -8px;

  ul {
    margin: 0;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }
}

.social-media-bar__image {
  width: 30px;
  height: 30px;
  background-color: #cc4faa;
  margin-bottom: 0;
}

#fb-logo.social-media-bar__image {
  -webkit-mask: url("../images/fb.svg") no-repeat 50% 50%;
  mask: url("../images/fb.svg") no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: 18px;
}

#twitter-logo.social-media-bar__image {
  -webkit-mask: url("../images/twitter.svg") no-repeat 50% 50%;
  mask: url("../images/twitter.svg") no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: 24px;
}

#email-logo.social-media-bar__image {
  -webkit-mask: url("../images/mail.svg") no-repeat 50% 50%;
  mask: url("../images/mail.svg") no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-right: 0;
}

@media only screen and (max-width: 889px) {
  .social-media-bar {
    margin: 0 0 36px -8px;
  }
}
