.team {
  margin-top: var(--sectionSpacingPrimary);
}

.team__title {
  color: var(--ocean);
  font-size: 64px;
  margin-bottom: var(--spacing-m);
}

.team__subtitle {
  font-family: var(--scopeOne);
  font-size: 22px;
  line-height: 35px;
  margin-bottom: var(--spacing-m);
  width: 55%;
  border-bottom: none;
}

@media only screen and (max-width: 889px) {
  .team {
    margin-top: 48px;
    padding: 0 var(--spacing-s);
  }

  .team__title {
    font-size: 49px;
    line-height: 59px;
    margin-bottom: 8px;
  }

  .team__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }
}
