/* -----------------------------------------------------------------------------
 *
 * Font Families
 *
 * ----------------------------------------------------------------------------- */

@font-face {
  font-family: "Visuelt Bold";
  src: url("../fonts/visuelt-bold.woff");
}

@font-face {
  font-family: "Visuelt Regular";
  src: url("../fonts/visuelt-regular.woff");
}
