/* -----------------------------------------------------------------------------
 *
 * Links
 *
 * ----------------------------------------------------------------------------- */

a {
  color: var(--black);
  font-family: var(--visueltRegular);
  font-size: 15px;
}